/*
* Globals
*/
html {
  font-size: 1em;
}
body {
  font-size:14px;
  @include respond(mobileLarge) {
    font-size: 16px;
  }
}
.grid {
  display:grid;
  column-gap:20px;
  &--one-column {
    grid-template-columns:1fr;
  }
  &--two-column {
    grid-template-columns:1fr 1fr;
  }
  &--three-column {
    grid-template-columns:repeat(3, 1fr);
  }
}
.v-application {
  p {
    &:last-child {
      margin-bottom:0;
    }
  }
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

h1, .h1 {
  font-size: 2.488em;

  &--extra-large {
    font-size: 4em;
  }
}

h2 {
  font-size:1.9em; 
  @include respond(tabletLarge) {
    font-size: 2.074em;
  }
}
h3 {
  font-size:1.469em;
  @include respond(tabletLarge) {
    font-size:1.628em;
  }
}

.v-btn {
  &__content {
    color: white !important;
  }
}

.nav-list-item {
  font-size:1.2em;
  display:flex;
  align-items:center;
  min-height:48px;
  padding:0 16px;
  @include respond(tabletLarge) {
    min-height:52px;
  }
  &__content {
    align-items:center;
    display:flex;
    flex-wrap:wrap;
    overflow:hidden;
    padding:12px 0;
  }
}

.header-navigation {
  .v-toolbar__content {
    justify-content:space-between;
    z-index:3;
  }
}
// content block styles
.block-group-wrapper {
  display:flex;
  flex-wrap:wrap;
}
.block-group {
  display:block;
  margin-top:15px;
  &__col {
    width:100%;
    padding:10px;
    color:$color-black;
    background:$color-white;
  }
  &--grid {
    display:grid;
  }
}
// end
ul {
  list-style: none;
}

.text {
  font-size:inherit;
  &--subtitle {
    font-size:.9em;
    color:$color-grey;
    word-break: break-word;
  }
}

a {
  color: inherit !important;
  text-decoration: none;
  &.disabled {
    pointer-events: none;
    color:#a7a7a7;
  }
}

.menu-items {
  font-size: 1.1em;
  display: flex;
  align-items: center;
  flex-wrap:wrap;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  height: 100%;

  li {
    padding:10px 6px;
  }

  &__item {
    a {
      padding: 5px;
    }
  }

  &__extended-menu {
    font-size:1em;
  }
}

.modal {
  &__content {
    padding:5px;
    background-color:$color-white;
    color:$color-black;
  }
  &__footer {
    display: flex;
    background-color: #a7a7a7;
    justify-content: space-around;
  }

  &__error {
    background-color: $color-white;
    padding: 10px;
  }
}

.hidden {
  opacity: 0;
  transform: translate3d(0, -10px, 0) scale(0.01);
  transition: all 500ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
}

.buttons-wrapper {
  padding: 5px 0;
}
.button {
  max-width: 100px;
  width: 100%;
}
.button,
button {
  cursor: pointer;
  padding: 6px 12px;
  border: 1px solid $color-white;
  color: $color-white !important;
  background-color: $color-black;
  text-align: center;
  display: inline-block; 
  font-size: 0.8em;
  margin:5px 0;

  &--round {
    border-radius:15px;
  }

  &--disabled {
    background-color: #c1c1c1ad!important;
    color: $color-white!important;
    cursor: not-allowed !important;
    pointer-events: none;
  }

  &--normal {
    max-width: 150px;
    background: $color-black;
    border:1px solid $color-white;
    color: $color-white;
    font-size:.9em;
    margin-right:7px;
  }

  &__icon {
    padding:8px;
    &--nav {
      margin-right:10px;
      width:48px;
      height:40px;
      @include respond(tabletLarge) {
        width:58px;
        height:48px;
      }
      & > span {
        width:100%;
        height:100%;
        position:relative;
        display:flex;
      }
    }
  }
  &__icon-content {
    position:absolute;
    background:$color-white;
    width:100%;
    height:2px;
    &--top {
      top:0%;
    }
    &--middle {
      top:50%;
    }
    &--bottom {
      bottom:0%;
    }
  }
}

.alert {
  &--error {
    color: red;
    font-size:1.1em;
  }
}

.icon {
  &--angle-down {
    &:before {
      content: "\F0140";
      //font-size:24px;
    }
  }
}

.form-wrapper {
  max-width: 80rem;
  width:100%;
  margin: 0 auto;
  background-color: $color-white;
  color: #333;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 15px;

  &__login-page {
    max-width: 30rem;
  }
}

.form {
  fieldset {
    border:0;
  }
  &__button-wrapper {
    display: flex;
    justify-content: center;

    .button {
      margin-right: 10px;
    }

    &--submit {
      margin-top: 10px;
      max-width: 150px;
      width: 100%;
      font-size: 1.1em;
      text-transform: uppercase;
    }
  }

  &__select {
    border:1px solid $dark-primary-1;
    padding:8px;
    width:100%;
    &--icon {
      position:absolute;
      right:21px;
      width:36px;
      line-height:41px;
      font-size:28px;
      display:flex;
      pointer-events:none;
      @include respond(tabletLargeMax) {
        line-height:35px;
      }
    }
  }

  &__checkbox-wrapper {
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(auto, 200px));
    grid-template-rows:repeat(auto-fit, minmax(50px, 1fr));
    &--long {
      flex-wrap: wrap;
    }
    &--short {
      grid-template-columns:repeat(auto-fit, minmax(auto, 180px));
    }
  }

  &__input-wrapper {
    margin-top: 10px;
    margin-bottom:25px;
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(auto, 200px));
    column-gap:20px;
    row-gap:15px;

    &--checkboxes {
      padding: 4px 0;
      display:flex;
      input {
        margin-top:5px;
        margin-right:5px;        
      }
    }
  }

  &__section {
    margin-top: 10px;
    width: 100%;
  }

  &__input-text-area {
    width:100%;
  }

  &__input {
    padding: 8px 12px;
    display: block;
    width: 100%;
    border: 1px solid transparent;
    border-radius:6px;
    border-bottom-color:$dark-primary-1;
    border-bottom-width:2px;
    box-shadow:0px 3px 7px 0px rgba($color-black, .3);
    //margin-bottom:10px;
    transition:all .2s ease-in;

    @include respond(tabletLargeMax) {
      padding: 6px 5px;
    }

    &:focus-visible {
      border-bottom:2px solid $color-red;
      box-shadow:1px 10px 20px 0px rgba($color-black, .3);
      outline:none;
      transition:all .2s ease-in;
    }

    &--cusSig {
      color: $color-white;
    }

    &--currency {
      display:inline-flex;
      align-items:center;
      span {
        margin-right:7px;
      }
      input {
        width:auto;
        position:relative;
        margin:0;
      }
    }

    &--password-input {
      display: grid;
      grid-template-columns: 90% auto;

      .form-input {
        padding: 2px 9px;
      }
    }

    &--input-group {
      //padding: 5px 25px 5px 5px;
      display:block;
      width:auto;

      @include respond(tabletLargeMax) {
        display: block;
        //width: 100%;
      }
    }

    &--upload-group {
      max-width: 300px;
      width: 100%;
      padding: 10px;
      box-shadow: -1px 0 11px rgba(0, 0, 0, 0.2);
    }

    &--card-upload-group {
      width:100%;
      padding: 10px;
      box-shadow: -1px 0 11px rgba(0, 0, 0, 0.2);
      display:grid;
      grid-template-columns:1fr 1fr 180px;
      grid-template-rows:1fr;
    }

    &--input-group-simple {
      display: flex;
      padding: 10px 0;
      flex-direction: column;
    }

    &--textarea {
      height: 200px;
      border: 1px solid $color-black;
      width:100%;
      max-width:100%;
    }

    &--radio {
      padding-right:20px;
      & + label {
        padding-left: 6px;
        padding-right: 20px;
      }
    }

    &--checkboxes {
      padding-bottom: 15px;
      padding-right: 20px;
      max-width:224px;
      width:100%;
      text-indent:-19px;
    }

    &--textbox {
      resize: none;
      border: 1px solid $dark-primary-1;
      height: 150px;
      width: 100%;
    }

    &--short {
      max-width:150px;
      width:100%;
    }

    &--error {
      color: red;
      display:block;
      margin-top:4px;
      @include respond(tabletLargeMax) {
        font-size:.9em;
      }
    }

    &--icon {
      color: $color-black;
      font-size: 23px;
    }
  }

  &__geocoder {
    padding:0;
  }

  &__input-group {
    padding: 5px 25px 5px 0px;
    display:block;
    width:auto;
    position:relative;
    min-height:105px;
    @include respond(tabletLargeMax) {
      min-height:99px;
    }
    &--inline {
      display:grid;
      grid-template-columns:auto 1fr;
      column-gap:20px;
      align-items:center;
      &:not(:last-child) {
        margin-bottom:15px;
      }

    }
    &--section {
      display:flex;
      align-items:center;
    }
    &--normal {
      width:235px;
    }
    &--long {
      width:320px;
    }
    &--short {
      width:195px;
    }
  }

  &__label {
    font-weight: 500;
    padding-right: 10px;
    font-size:.9em;
  }
  &__table {
    display:grid;
    &--rows {
      grid-template-columns:1.2fr repeat(7, 1fr);
      width:100%;
      &:not(:first-child) {
        .form__table--cols {
          border-bottom:1px solid;
          border-top:1px solid;
        }
      }
      &:last-child .form__table--cols {
        border-bottom:2px solid;
      }
    }
    &--cols {
      @include respond(tabletLarge) {
        padding:4px;
      }
      padding:3px;
      border-color:black;
      border-top:2px solid;
      border-bottom:1px solid;
      input[type=checkbox] {
        width:100%;
        height:100%;
      }
      &:not(:first-child) {
        border-right:1px solid;
      }
      &:not(:last-child) {
        border-left:1px solid;
      }
      &:first-child {
        border-left:2px solid;
        border-right:1px solid;
      }
      &:last-child {
        border-left:1px solid;
        border-right:2px solid;
      }
    }
  }

  &__form-group {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    //font-size: 1.1em;
    
    &--info-box {
        justify-content: space-between;
        border: 1px solid $color-black;
        padding: 10px 15px;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-bottom:10px;
        &.hidden {
          display:none;
        }
        @include respond(tabletLarge) {
          justify-content: flex-start;
        }
        input {
          //margin-bottom: 15px;
        }
    }

    &--images-upload-section {
      justify-content: space-between;
    }

    &--block {
      display: block;
      margin-bottom:15px;
    }

    &--column {
      flex-direction:column;
    }

    &--full-width {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      & > div {
        width: 50%;
      }
    }

    &--grid {
      display:grid;
      width:100%;
      column-gap:20px;
      @include respond(tabletLarge) {
        grid-template-columns:1fr 1fr;
      }
    }

    &--left-side,
    &--right-side {
      width: 50%;
      padding: 0 10px;
      /* @include respond(tabletLargeMax) {
        width:100%;
      } */
    }

    &--right-side {
      padding-bottom: 20px;
    }

    &--left-side input {
      margin-bottom: 10px;
    }

    & > input {
      margin-top: 6px;
      margin-bottom: 12px;
    }

    &--inline {
      display:inline-flex;
      flex-direction:row;
      /* & > span {
        margin:5px;
        flex-wrap:wrap;
      } */
    }

    & > span {
      &__input-wrapper {
        display: block;
      }
    }
    &--listing {
      flex-direction:column;
      & > li {
        list-style-type:lower-alpha;
      }
      ol > li {
        padding-bottom:15px;
      }
    }
    &--listing-num {
      list-style-type:decimal;
      li {
        padding-bottom:10px;
      }
      ol {
        list-style-type:lower-alpha;
      }
    }
    &--sublisting {
      display:grid;
      grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
      grid-template-rows: repeat(auto-fill, minmax(34px, 1fr));
      column-gap:10px;
      li {
        list-style-type: none;
        padding-right:10px;
        text-indent:-19px;
      }
    }
  }
}

.time-pickers {
  &__range {
    display: flex;
    box-shadow: none;
    justify-content: space-around;
  }
}

.time-picker {
  max-width: 300px;
}

.login-form-box {
  background: $color-white;
  max-width: 80%;
  width: 100%;
  margin: auto;

  .submit-btn {
    padding-top: 40px;
  }
}
.reports-wrapper {
  display:flex;
  justify-content:flex-start;
  flex-direction:column;
  max-width:1200px;
  margin:auto;
  
  .breadcrumb-wrapper {
      grid-column: 2 span;
  }

  &__heading {
      width:100%;
      padding-bottom:15px;
  }

  &__data {
      box-shadow: -1px 2px 12px -2px rgba($color-black, .8);

      a {
        height:100%;
        width:100%;
        display:block;
      }
  }

  .block-group--grid {
      grid-template-columns:repeat(auto-fill, minmax(186px, 1fr));
      grid-template-rows:repeat(auto-fill, minmax(120px, 1fr));
      column-gap:40px;
      row-gap:20px;
      padding-bottom:40px;
  }
}
.reports-page {
  background-color: $color-white;
  color: $color-black;
}

.report-details-wrapper {
  max-width:1200px;
}

.report-details {
  max-width:750px;
  width:100%;
  margin:auto;
  color:$color-black;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  flex-direction:column;
  &__section {
    display: flex;
    flex-wrap:wrap;
    border-bottom: 1px solid $dark-primary-1;
    padding: 12px 0;
    column-gap: 2vw;

    &--case-file {
      display:flex;
      flex-wrap:wrap;
      flex-direction:row;
      & > div {
        flex: 1 1 380px;
      }
    }

    &--contact-group {
      flex-direction:column;
    }

    &--pictures {
      display: flex;
      flex-wrap:wrap;
      row-gap: 30px;
      column-gap: 30px;
    }
  }

  &__listing {
    list-style-type:decimal;

    > li {
      padding-bottom:10px;
      ol {
        list-style-type:lower-alpha;
        > li {
          padding-bottom:10px;
        }
      }
    }
  }

  &__file-listing {
    width:300px;
    a {
      display:block;
    }
  }

  &__data-field {
    //grid-area:field;
    grid-column: 2;
    align-items: center;
    display: flex;
    padding-right:20px;
  }

  &__data-label {
    font-size:1.2em;
    font-weight:bold;
  }

  &__checklist {
    display: flex;
    flex-direction: column;
    width:650px;

    & > ul {
      display:flex;
      flex-wrap:wrap;
      justify-content:space-between;
      padding:0!important;
    }
    li {
      padding:4px;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;

    &--row {
      flex-direction:row;
      justify-content:space-between;
      padding:5px 10px;
    }
    &--cusSig {
      width: 100%;
      height: 135px;
      background-size: contain;
    }

    &--sig {
      width:400px;
      height:100%;
      background-size:contain;
    }

    h2 {
      font-weight: 900;
    }
  }
  
  &__company-logo {
    max-width:100px;
    margin:auto;
  }
  &__content {
    background:$color-white;
    padding:20px;

    label {
      padding-right:7px;
      font-weight:700;
    }
  }
  &__bordered {
    border:1px solid $color-black;
    padding:5px;
    align-items:flex-start;
    flex-direction:column;
    display:flex;
    > div {
      align-items:flex-start;
    }
  }
  &__data-sig {
    //height:150px;
    > div {
      height:180px;
    }
  }
}

.file-listing-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.file-listing {
  position: relative;
  max-width: 140px;
  display: inline-flex;
  padding-bottom: 20px;

  p {
    word-break: break-all;
  }

  &__normal-size {
    max-width: 250px;
  }

  &__remove-file {
    position: absolute;
    background-color: red;
    cursor: pointer;
    top: -5px;
    width: 22px;
    height:21px;
    right: 11px;
    border-radius: 50%;
    &--leg {
      background-color:$color-white;
      top:9px;
      width:17px;
      height:2px;
      position:absolute;
      left:3px;
    }
    &--leg1 {     
      transform:rotate(45deg);     
    }
    &--leg2 {
      transform:rotate(-45deg);
    }
  }

  img {
    max-width: 90%;
  }
}

input[type='file'] {
  position: absolute;
  display:none;
  top: -500px;
}

.folder-contents-wrapper {
  padding: 45px 4vw;
}
